RewriteEngine on
RewriteCond %{DOCUMENT_ROOT} !-f
RewriteRule ^(.*)/assets/(.*)$ /assets/$2 [L,R=301]
RewriteRule ^(!(.*)/assets/(.*)).*/(.*\.(png|ico|xml|gif|svg)) /$1
RewriteRule !\.(eot|woff2|woff|ttf|js|ico|gif|jpg|png|css|html|swf|flv|xml|txt|svg)$ index.php [QSA,L]