<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% block head %}
        <title>{% block title %}{{ project.name }}{% endblock %}</title>
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ renderBaseUrlHeader() }}
    <link rel="icon" href="images/favicon.ico"/>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/base.css">
    {% block stylesheets %}
        <link rel="stylesheet" href="css/font/source_sans_pro.css" >
        <link rel="stylesheet" href="css/font/source_code_pro.css" >
        <link rel="stylesheet" href="css/template.css">
        <link rel="stylesheet" href="css/fontawesome/all.css" />
        <link rel="stylesheet" href="css/prismjs/okaida.css">
        <link rel="stylesheet" href="css/prismjs/line_number.css">
        <link rel="stylesheet" href="css/prismjs/line_highlight.css">
    {% endblock %}
    {% block javascripts %}
        <script src="js/fuse.js"></script>
        <script src="js/ponyfill.js"></script>
        <script src="js/search.js"></script>
        <script defer src="js/searchIndex.js"></script>
    {% endblock %}
</head>
<body id="top">
    {% include 'components/header.html.twig' %}

    <main class="phpdocumentor">
        <div class="phpdocumentor-section">
            {% include 'components/sidebar.html.twig' %}

            <div class="phpdocumentor-column -eight phpdocumentor-content">
				<h2><a href="sphinx/build/">Manual</a></h2>
                {% block content %}{% endblock %}
                {% include 'components/search-results.html.twig' %}
            </div>
        </div>
        {{ include('components/back-to-top.html.twig') }}
    </main>

    <script>
        cssVars({});
    </script>
    <script src="js/prism.js"></script>
    <script src="js/autoload.js"></script>
    <script src="js/line_number.js"></script>
    <script src="js/line_highlight.js"></script>
</body>
</html>
