fieldset
{
	border-color: #BDBDBD;
}

legend
{
	color: #BDBDBD;
}

form
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

input
{
	border: 1px solid #000000;
	padding: 5px;
	background: #C5CAE9;
	color: #303F9F;
}

input[type='submit']
{
	cursor: pointer;
}