<!DOCTYPE html>
<html lang="{lang}">
	<head>
		<title>{title}</title>
		<link rel="stylesheet" href="asset/css/core/main.css" />
		<meta charset="UTF-8" />
	</head>
	<body>
		<form action="{action}" method="{method}">
			<fieldset>
				<legend>{legend}</legend>
				<label for="phosphore_installation_secret">{label_secret}</label>
				<input type="text" name="phosphore_installation_secret" value="{value_secret}" />
				<input type="submit" value="{submit}" />
			</fieldset>
		</form>
	</body>
</html>
