body
{
	margin-top: 80px;
}
header
{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 80px;
	width: 100%;
	background-color: white;
	border: solid 1px black;
	display: flex;
}
header nav ul
{
	height: 70%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
header nav ul li
{
	padding-right: 20px;
}